*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
  }
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
   
}#container h3{
    text-align: center;
    background-color: #f36523;
    margin-top: 30px;
    padding: 1vw;
    /* margin: 5px; */

}
#instructions{
    margin-top: 20px;
    text-align: center;
    
}
ol{
    list-style-type: decimal;
}
#instructions p{
    font-weight: bold;
    color: #f36523;

}
#start {
    text-align: center;
}
text {
    font-size: 11px;
    pointer-events: none;
}
#dpt{
    display: none;
}
#chart {
    /* position: absolute; */
    width: 80vw;
    height: 80vh;
    /* top: 5vh;
    left: 10vw; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin: 0px 19px; */
}

#question {
    /* position: absolute; */
    width: 80vw;
    height: 10vh;
    /* top: 0;
    left: 10vw; */
}

#question h1 {
    font-size: 2vw;
    font-weight: bold;
    /* position: absolute; */
    /* top: 50%; */
    /* -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); */
}
#question{
    display: flex;
    justify-content: center;
    align-items: center;
}
#don-btn {
    /* position: absolute; */
    /* bottom: 15vh;
    left: 50%; */
    /* transform: translateX(-50%); */
    padding: 1em 2em;
    font-size: 1.2em;
    /* background-color: #2C3E50; */
    background-color: #f36523;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
}

#don-btn:hover {
    /* background-color: #1A252F; */
    background-color: #f36523;
}

#depot {
    /* position: absolute; */
    /* bottom: 10px;
    left: 50%; */
    /* transform: translateX(-50%); */
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
   
}
#depot img{
    width: 3vw;
    height:3vw;
}

#phone-number {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 5px;
}
/* p{
    margin: 0px;
} */
#copy-btn {
    padding: 1em 1em;
    font-size: 1.2em;
    /* background-color: #2C3E50; */
    background-color: #f36523;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#end{
    font-style: italic;
    
}
#end img{
    width:5px;
    height:5px;
}
#end #strong{
    text-align: center;
}

#copy-btn:hover {
    background-color: #1A252F;
}
.animate-charcter
{
   
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media (max-width: 768px) {
    #don-btn, #copy-btn {
        font-size: 1em;
        padding: 0.5em 1em;
    }
    #phone-number {
        font-size: 1em;
    }
    #question h1{
        font-size: 5vw;
    }
    #chart {
        /* position: absolute; */
        width: 80vw;
        height: 70vh;
        /* top: 5vh;
        left: 10vw; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /*
         margin: 0px 19px; */
        margin: -20vw;

    }
    #depot img{
        margin-top: 6px;
        width: 6vw;
        height:6vw;
    }
    #container h3{
       
        padding: 3vw;
        /* margin: 5px; */
    
    }
}





