*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
    
    
  }
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
}.container{
  /* overflow-x: hidden; */
  max-width: 100%;
  box-sizing: border-box;


}
#container h3{
    text-align: center;
    background-color: #f36523;
    margin-top: 30px;
    padding: 1vw;
    /* margin: 5px; */

}
#instructions{
    margin-top: 20px;
    text-align: center;
    
}
ol{
    list-style-type: decimal;
}
#instructions p{
    font-weight: bold;
    color: #f36523;

}
#start {
    text-align: center;
}
text {
    font-size: 11px;
    pointer-events: none;
}
#dpt{
    display: none;
}
#dpt p{
    text-align: center;
}
#chart {
    /* position: absolute; */
    width: 80vw;
    height: 80vh;
    /* top: 5vh;
    left: 10vw; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* margin: 0px 19px; */
    margin: 0px;
    
}

#question {
    /* position: absolute; */
    width: 80vw;
    height: 10vh;
    /* top: 0;
    left: 10vw; */
}

#question h1 {
    font-size: 2vw;
    font-weight: bold;
    /* position: absolute; */
    /* top: 50%; */
    /* -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%); */
}
#question{
    display: flex;
    justify-content: center;
    align-items: center;
}
#don-btn {
    /* position: absolute; */
    /* bottom: 15vh;
    left: 50%; */
    /* transform: translateX(-50%); */
    padding: 1em 2em;
    font-size: 1.2em;
    /* background-color: #2C3E50; */
    background-color: #f36523;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Poppins", sans-serif;
    margin-bottom: 1vw;
}
#next{
    padding: 0.5em 1.2em;
    font-size: 1.2em;
    background-color: #f36523;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 4vw;
    margin-bottom: 18vw;
    font-family: "Poppins", sans-serif;


}

#don-btn:hover {
    /* background-color: #1A252F; */
    background-color: #f36523;
}

#depot {
    /* position: absolute; */
    /* bottom: 10px;
    left: 50%; */
    /* transform: translateX(-50%); */
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
   
}
#depot img{
    width: 3vw;
    height:3vw;
}

#phone-number {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 5px;
}
/* p{
    margin: 0px;
} */
#copy-btn {
    padding: 1em 1em;
    font-size: 1.2em;
    /* background-color: #2C3E50; */
    background-color: #f36523;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}
#end{
    font-style: italic;
    
}
#end img{
    width:5px;
    height:5px;
}
#end #strong{
    text-align: center;
}

#copy-btn:hover {
    background-color: #1A252F;
}
.animate-charcter
{
   
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}
.animate{
    color: white;

}
/* .text_shadows {
    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-family: bungee, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: calc(2rem + 5vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    //color: transparent;
    //background-color: white;
    //background-clip: text;
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  } */
  .affiche img{
    max-width: 90vw;
    height: 50vw;
    margin: auto;
    display: block;
  }
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
header{
  background-image: url("affiche.jpeg") ;
  margin: 0;
  /* background-color: #f36523; */
  max-width: 100vw;
  height: 70vw;
  background-size: cover; /* Pour couvrir tout l'élément */
  background-position: center; /* Centrer l'image */
  background-repeat: no-repeat;

  
}
 button{
  text-transform: uppercase;
  padding: 1em 1em;
  font-size: 1em;
  background-color: #f36523;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: auto;
  animation: ease all 3s;
  font-family: "Oswald", sans-serif;
   
    
}
button a{
  
  text-decoration: none;
  color: #fff;
}

button:hover{
  background-color: #1A252F;
}
#prog {
  margin-top: 10px;
  background-color: #eeeeed;
  padding: 5px;
  font-size: 1.3em;
  
}
#prog h3{
  margin-top: 20px;
  color:#f36523 ;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

#prog p{
  background-color: #F5F3EA;
  text-align: center;
  padding: 0.6em;
  font-family: "Oswald", sans-serif;
  width: 40vw;
  margin: 10px auto;
}
.btn  button a{
  font-family: "Oswald", sans-serif;
}
.tee-s{
  margin-top: 5px;
  animation:new .5s linear infinite;
  text-align: center;
}
.infos h3{
  text-align: center;
}
.btn{
  display: flex;
  flex-direction: row;
}
@keyframes new
{
  0%
  {
    transform:scaleX(1);
  }
  50%
  {
    transform:scaleX(.95);
  }
  100%
  {
    transform:scaleX(1);
  }
}
.img{
  width: 100vw;
  max-height: 20vh;
  
}
.img img{
  width: 80vw;
  height: 30vh;
  display: block;
  margin: auto;
  

}
footer{
  position: absolute;
  bottom: 0px;
  background-color: #f36523;
  height: 3vh;
  width: 100vw;
}
footer p{
  text-align: center;
  font-style: italic;
}
.model{
  display: flex;
  margin: auto;
}
.model-header{
  display: flex;
  background-color: #eeeeed;
  
  
}
.model-header h3{
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  
}
.close{
  
  width: 3vw;
  height: 1vh;
  border-radius: 0;
  /* padding: 0.5rem 0.7rem;
  background: #eee;
  border-radius: 50%; */
  border: none;
 
  margin-right: 0px;
   
  
}
.close img{
    width: 1vw;
    height: 1vw;
    position: relative;
    top: -0.8vw;
    
    
    
}
.model-body p{
  text-align: center;
}
.model-body form{
  margin-left: 3vw;

}
.model-body form input{
  width: 20em;
  padding: 0.2rem 0.4rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
  outline: none;
}
.model-body form span{
  color:  #ccc;
  margin-left: 1em;
}
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: none;
  max-width: 30vw;
  overflow-y: hidden;
  overflow-x: hidden;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.3);
}
form button{
  margin-top: 1em;
  padding: 0.5em 0.5em;
}

@media (max-width: 768px) {
    #don-btn, #copy-btn {
        font-size: 1em;
        padding: 0.5em 1em;
    }
    #phone-number {
        font-size: 1em;
    }
    #question h1{
        font-size: 5vw;
    }
    #chart {
        /* position: absolute; */
        width: 80vw;
        height: 70vh;
        /* top: 5vh;
        left: 10vw; */
        /* display: flex;
        justify-content: center;
        align-items: center; */
        /*
         margin: 0px 19px; */
        margin: -20vw;

    }
    #depot img{
        margin-top: 6px;
        width: 6vw;
        height:6vw;
    }
    #container h3{
       
        padding: 3vw;
        /* margin: 5px; */
    
    }
    button{
      text-transform: uppercase;
      padding: 0.5em 0.5em;
        font-size: 0.7em;
        /* background-color: #2C3E50; */
        background-color: #f36523;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: "Oswald", sans-serif;
        display: block;
        margin: auto;
    }
    button:hover{
      background-color: #1A252F;
    }
    #prog{
      font-size: 1em;
    }
    dialog{
      max-width: 80vw;
    }
    .model-body form input{
      max-width: 50vw;
      
    }
    .model-body form h3{
      font-size: 0.7em;
    }
    .model-header h3{
      font-size: 0.9em;
      
    }
    .close{
      width: 9vw;
      height: 100%;
      
      
      
       
      
    }
    .close img{
        width: 3vw;
        height: 3vw;
        
        
        
        
    }
    #prog p{
      background-color: #F5F3EA;
      text-align: center;
      padding: 0.6em;
      font-family: "Oswald", sans-serif;
      width: 80vw;
      
    }
}





